{% extends 'polls/base.html' %}


{% block title %}{{ poll }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ poll }}</h1>
        <div class="choices">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p></p>

            <form action="{% url 'vote' poll.id %}" method="POST">
            {% csrf_token %}
            {% for choice in choices %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice }}</label><br>
            {% endfor %}
            <input type="submit" value="Vote">
            </form>
        </div>
    </div>
{% endblock %}